body{
  font-family: Roboto;
  margin: 0;
  background-color: #f7f7f7;
}

p{
  font-size: 19px;
}

.section{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img{
  width: 50%;
}

@keyframes monAnim2 {
  from { opacity: 0;
        transform:rotate(360deg);}
  35% { opacity: 1; }
  to {  opacity: 1; }
}

.img7{
  width: 150px;
  margin-top: 2%;
  animation: monAnim2 5s linear 1s;
}

.nom:hover{
  background-color: #ededed;
}

.icone{
  width: 20px;
}
span{
  font-weight: bold;
  font-family: Lato;
}

.img6{
  width: 140px;
  height: 45px;
  margin-top: 2%;
}

.formulaire{
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 60%;
}

@keyframes monAnim {
  from { opacity: 0;
        transform:translate(10px, 0);}
  35% { opacity: 0.5; }
  to {  opacity: 1; }
}

.icone{
  opacity: 0;
  vertical-align: middle;
  animation: monAnim 10s linear 5s;
}

h2{
  margin-top: 3%;
  font-family: Lato;
}

article{
  margin-left: 3%;
}

.section2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@keyframes monAnim3 {
  from { opacity: 0;
      transform-origin: 0 0;
        transform:translate(-300px, 0);}
  35% { opacity: 0; }
  to {  opacity: 1; }
}

.fleche{
  height: 20px;
  vertical-align: middle;
  animation: monAnim3 4s linear 10s;
}

.partenaire{
  height: 20px;
}

.section3{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}
.CGU{
    font-size: 10px;
    text-align: center;
  }

@media (max-width: 600px){
  .img{
    width: 0;
  }
  article{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1%;
  }
  p{
    font-size: 20px;
  }
  body{
    background-color:#f2eff1;
  }
  .img7{
    width: 150px;
  }
  .icone{
    width: 0;
  }
  .fleche{
    width: 0;
  }
  .bouton{
    height: 35px;
    background-color: #234bff;
    color: white;
    border-radius: 1;
  }
}
