body{
  font-family: Roboto;
  margin: 0;
  background-color: #f7f7f7;
}
.section{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.img{
  width: 50%;
}
p{
  font-size: 19px;
}
@keyframes monAnim2 {
  from { opacity: 0;
        transform:rotate(360deg);}
  35% { opacity: 1; }
  to {  opacity: 1; }
}
.img2{
  width: 140px;
  height: 45px;
  margin-top: 2%;
}
h2{
  margin-top: 3%;
  font-family: Lato;
}
span{
  font-weight: bold;
  font-family: Lato;
}
.img3{
  width: 150px;
  margin-top: 2%;
  animation: monAnim2 5s linear 1s;
}
.formulaire{
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 60%;
}
.nom:hover{
  background-color: #ededed;
}
article{
  margin-left: 3%;
}
@keyframes monAnim {
  from { opacity: 0;
        transform:translate(10px, 0);}
  35% { opacity: 0.5; }
  to {  opacity: 1; }
}
.icone{
  width: 20px;
  opacity: 0;
  vertical-align: middle;
  animation: monAnim 10s linear 5s;
}
@keyframes monAnim3 {
  from { opacity: 0;
      transform-origin: 0 0;
        transform:translate(-300px, 0);}
  35% { opacity: 0; }
  to {  opacity: 1; }
}
.fleche{
  height: 20px;
  vertical-align: middle;
  animation: monAnim3 4s linear 10s;
}
.section2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.partenaire{
  height: 20px;
}
.section3{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}
.CGU{
    font-size: 10px;
    text-align: center;
  }

@media (max-width: 600px){
  body{
    background-color:#f2eff1;
  }
  .img{
    width: 0;
  }
  p{
    font-size: 20px;
  }
  article{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1%;
  }
  .img3{
    width: 150px;
  }
  .icone{
    width: 0;
  }
  .fleche{
    width: 0;
  }
  .bouton{
    height: 35px;
    background-color: #234bff;
    color: white;
    border-radius: 1;
  }
}
